<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
      .back{margin: 50px;}
	</style>
</head>
<body>

<h1>Listing Artcles</h1>
<ul>
<h3>Articles
<% if @user.articles.size==0%>
<%= "no articles yet" %>
<%else%>
(<%= @user.articles.size %>)</h3>
<% end %>
  <% @user.articles.each do |article| %>
    
   <li><%= link_to article.title, article_path(article)%></li>
     
         
            <%= link_to "edit", edit_article_path(article) %>|
           <%= link_to 'delete', article_path(article) ,method: :delete,data: {confirm: "Really want to delete the article?"}%>
         </br>
        
    <% end %>

  </ul>

  <div class="back"><%= link_to " Back to articles list", articles_path %></div>


 <%= link_to "Create a New article", new_article_path, :class => 'new_article'%>


 </body>
</html>