


<%# it is for users, who have active account, as well as for normal user.%>





<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
     .gly{height: 30px; width: 30px;}
     .comment_div{width: 500px;}
     .back{margin: 50px; margin-top: 50px;}
          .new_article{
         top: 100px;
               }

    </style>

</head>
<body>


<h1><%= @article.title %></h1>
<div>Article:-&nbsp &nbsp<%= @article.body %></div>
<% if user_signed_in?%>
  <% if current_user.account_status==true %>
    
    <% if (current_user.role==true) || (current_user.id ==@article.user_id) %>
    <h3><%= link_to "EDIT", edit_article_path(@article) %>|
    <%= link_to "DELETE", article_path(@article),method: :delete,data: {confirm: "Really delete the article?"} %></h3></br>
  <% elsif user_signed_in? && (current_user.role=="admin"||current_user.role =="superadmin")%>
    <h3><%= link_to "DELETE", article_path(@article),method: :delete,data: {confirm: "Really delete the article?"} %></h3><br>
<% end %>
<% end %>
<% end %>
  <p>
    Tags:
    <% @article.tags.each do |tag| %>

      <%= link_to tag.name, tag_path(:id => tag, :article_id => @article.id) %>
    <% end %>
  </p>
<br>
<div><%= image_tag @article.photo.url(:small) %></div>


<% @article.attachments.each do |j| %>
    <%= image_tag j.image(:thumb) %>
    <% if user_signed_in?  && ((@article.user_id == current_user.id)||(current_user.role=="admin"||current_user.role =="superadmin"))%>
      <%= link_to "<span class=\"glyphicon glyphicon-remove gly\"> </span>".html_safe, delete_attachment_path(:article_id=>@article.id,:id=>j.id), method: :delete,data: {confirm: "Really want to delete the attachment?"} %>
     <% end %>
<% end %>
<div class="comments">
<% if @article.comments.size == 0 %>
       <h3>No Comments here</h3>
<% else %>
     <h3  id="comment_count">Comments (<%= @article.comments.size %>)</h3>

   <%= render partial: 'comment' %>

<% end %>
</div>
<div class="cform">
 <%= render partial: 'comments/form' %>
 </div>

<%= link_to " Back", articles_path, :class=> 'new_article' %>
</body>
</html>






