<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .link{color: #9B6639}
    .email{color: #FFFFFF;font-size: 18px;}
    .users_details{color: #9B6639; font-size: 18px; margin-left: 70px;}
    .my_articles{float: right; font-size: 18px;}
    .home{font-size: 15px; position: relative; top: 0px; left: 0px;}
  </style>
</head>

<body>
    <p class="flash"><%= flash.notice %></p>

	<%#= link_to 'Home', articles_path, :class=>'home'%>
 
 <% if user_signed_in? && current_user.account_status== true%>
    <h1>
      
       <% if user_signed_in? %>
           
                <%= link_to " #{current_user.email}(Your Profile)", user_profile_path(current_user.id),:class=>'email' %>
                <span><%= link_to 'Sign out',destroy_user_session_path, :method=>'delete',:class=>'link' %></span>
                <% if current_user.role=="admin"||current_user.role== "superadmin"%>
            
                    <%= link_to 'Users Details', user_details_path, :class=>'users_details'%>  
              <% end%>
                <%= link_to 'My Articles',my_articles_path(current_user.id), :class=> 'link my_articles' %>
      <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class=> 'link' %> |
              <%= link_to "Sign in", new_user_session_path,:class=> 'link' %>
      <% end %>
        </h1>
   
  <%else%>
      <h1>
       <% if user_signed_in? %>
           
                <marquee> <p style="color: red">Your Account is not Active</p></marquee>
                <%= link_to " #{current_user.email}(Your Profile)", user_profile_path(current_user.id),:class=>'email' %>
                <span><%= link_to 'Sign out',destroy_user_session_path, :method=>'delete',:class=>'link' %></span>
      <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class=> 'link' %> |
              <%= link_to "Sign in", new_user_session_path,:class=> 'link' %>
      <% end %>
        </h1>
  <%end%>
   
<%= yield %>

</body>
</html>
